<h1>
  BETTER & FASTER
  <small>Select the best startups for your program</small>
  <p><%= link_to 'Register', new_user_path %></p>
</h1>

<!-- <section id="about">

</section> -->
<!-- <h1>Hello, Rails!</h1>
<p>Register Now !</p>
