-# <h1>
-#   BETTER & FASTER
-#   <small>Select the best startups for your program</small>
-#   <p><%= link_to 'Register', new_user_path %></p>
-# </h1>

%h1
  BETTER & FASTER
  %small Select the best startups for your program
  %p= link_to 'Register', new_user_path
