// Place all the styles related to the Company controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit {
  margin-bottom: 30px;
  padding: 0 20;
  a {
    color: black;
    text-decoration: none;
    border-radius: 5px;
    padding: 10 20;
    font-size: .75em;
    background: #5db15d;
  }
}
.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 50;
  .company {
    margin: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid white;
    p {
      color: #424242;
      margin-bottom: 20px;
    }
    img {
      height: 200px;
    }
    .buttons {
      a {
        color: black;
        text-decoration: none;
        font-weight: 300;
        border-radius: 5px;
        padding: 6px 12px;
        margin: 3px;
        font-size: .65em;
        background: #EF4836;
        &.show {
          background: #5db15d;
        }
      }
    }
  }
  .display {
    display: flex;
    color: white;
    img {
      height: 300px;
    }
    .description {
      display: flex;
      justify-content: space-between;
      align-items: center;
      article {
        font-weight: 300;
        padding: 10px;
        font-size: 1em;
      }
    }
  }
}
