// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$text-color: white;
$text-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);

table,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  font-family: 'Lato';
}
html {
  height: 100%;
}
body {
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/background_2.jpg);
  margin: 0;
  padding: 0;
  height: 100%;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: flex-start;
  padding-bottom: 15px;
  height: 50px;
  margin: 0 20 20 0;
  background-color: rgba(0, 0, 0, 0.2);
  a {
    padding: 20px 20px 0 30px;
    text-decoration: none;
    display: inline-block;
    color: $text-color;
    font-weight: 300;
    font-size: 18px;
  }
  nav {
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-end;
      align-content: flex-end;
      align-items: flex-end;
      margin: 0;
      list-style-type: none;
    }
  }
}

.branding {
  text-align: center;
  h1, h2 {
    padding: 50px 0px;
    margin: 0;
    font-size: 4em;
    text-shadow: $text-shadow;
    font-weight: 300;
    color: $text-color;
    small {
      display: block;
      font-size: 0.7em;
      text-shadow: $text-shadow;
      font-weight: 300;
    }
    a {
      color: currentColor;
      font-size: 0.3em;
      padding: 10px 50px;
      color: currentColor;
      border: 1px currentColor solid;
      text-decoration: none;
      border-radius: 200px;
    }
  }
  h1 {
    padding: 200px 0 250px;
  }

  table {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $text-color;
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
    padding: 20px;
    td, th {
      padding: 10px 30px;
      a {
        color: $text-color;
        text-decoration: none;
        font-weight: 300;
        border-radius: 5px;
        padding: 6px 12px;
        margin: 3px;
        font-size: .65em;
        background: #EF4836;
      }
    }
  }
}

form {
  .button input {
    padding: 10px 40px;
    border: 1px $text-color solid;
    border-radius: 200px;
    text-decoration: none;
    background-color: transparent;
    color: currentColor;
  }
  .button input:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  margin: 0;
  font-size: 2em;
  text-shadow: $text-shadow;
  font-weight: 300;
  padding: 200px 0 250px;
  color: $text-color;
  input {
    padding: 5px;
    border-radius: 5px;
  }
}
